
.spotifyHome{
    background: linear-gradient(to bottom, #5c5c5c, #121212);
    height: 37vh;
    width: 85rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    border-radius: 0.6rem 0.6rem 0 0;
    padding: 1rem;
    padding-left: 1.5rem;
}

.spotifyHomeTop{
    display:flex;
    justify-content: space-between;
    border: 1px solid white;
}

.spotifyHomeTopLeft{
    border:1px solid white;
    width: 4.5rem;
    display:flex;
    justify-content: space-between;
    /* margin-left: 0.5rem; */
    /* margin-top: 0.7rem; */
}
.spotifyHomeTopRight{
    border:1px solid white;
    width: 4.5rem;
    display:flex;
    justify-content: space-between;
    margin-right: 0.2rem;
}

.circle{
    display:flex;
    justify-content: center;
    margin-top: 0.7rem;
}

.greetings{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top:1.8rem;
    /* margin-left:0.2rem; */
}

.spotifyFavAlbums{
    width: 100%;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border:1px solid white */
}

.spotifyFavAlbumsItem{
    /* margin-right: 1rem; */
    margin-top: 1rem;
    /* width: 25rem; */
    min-height: 5rem;
    /* flex-grow:1; */
    flex-basis: 27.5rem;
    border-radius: 0.2rem;
    background: #121212;
    /* border: 1px solid white; */
    background: linear-gradient(to bottom, #515151, #434343);
    display:flex;
}

.spotifyFavAlbumsImage{
    width: 5rem;
    height:100%;
    border-radius: 0.2rem;
    /* margin: 0.5rem; */
    border: 1px solid white;
}

.spotifyFavAlbumsText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.8rem;
    font-weight: 600;
    /* border: 1px solid white; */
}

.spotifyPlaylists{
    padding: 1rem;
    height: auto;
    /* border: 1px solid white; */
    background:  #121212;
} 

.spotifyPlaylistsTopBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:1px solid white; */
}


.spotifyPlaylistItemFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
    margin-top:1.3rem;
}

.spotifyPlaylistItem{
    /* border: 1px solid white; */
    height: 17rem;
    width: 11rem;
    border-radius: 0.2rem;
    background: #181818;
}

.spotifyPlaylistTitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
}

.spotifyPlaylistShowAll{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.8rem;
    color: #ababab;

}

.spotifyPlaylistImage{
    width: 9rem;
    height: 9rem;
    border-radius: 0.2rem;
    margin: 1rem;
    /* border: 1px solid white; */
}

.spotifyPlaylistText{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    color: white;
    margin-left: 1rem
}

.spotifyPlaylistSubText{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: #ababab;
    margin-left: 1rem
}