nav {
    /* background-color: red; */
    color: white;
    height: 100vh;
    width: 85px;
}

ul{
    list-style-type: none;
}

.topRowNavBar{
    /* border:1px solid white; */
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 6.6rem;
    justify-content: space-around;
    background-color: #121212;
    border-radius: 0.6rem;
    margin: 0 0.5rem;
}

.bottomRowNavBar{
    /* border:1px solid white; */
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    justify-content: top;
    background-color: #121212;
    border-radius: 0.6rem;
    margin: 0.5rem 0.5rem;
}

.bottomRowNavBar li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}